# Dotenv files
.env
.env.*
!.env.example

# Miscellaneous
.DS_Store
.idea/
.vscode/
*.iml
*.ipr
*.iws
.dart_tool/
.packages
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
*.g.dart
*.freezed.dart
*.mocks.dart
pubspec.lock
