# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Runner.xcworkspace/
/android/app/src/main/java/io/flutter/plugins/
/android/app/build/
/android/.gradle/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/key.properties
/ios/key.properties
*.keystore
*.jks

# Web
/web/
/build/web/

# Linux
/linux/flutter/generated_plugin_registrant.h
/linux/flutter/generated_plugins.cmake
/linux/flutter/ephemeral
/linux/flutter/generated_config.cmake
/linux/build/
/linux/CMakeLists.txt.user

# macOS
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Flutter/ephemeral
/macos/Flutter/Generated.xcconfig
/macos/Flutter/Flutter-Debug.xcconfig
/macos/Flutter/Flutter-Release.xcconfig
/macos/Pods/
/macos/.symlinks/
/macos/Runner.xcworkspace

# Windows
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugins.cmake
/windows/flutter/ephemeral
/windows/build/
/windows/runner/Debug/
/windows/runner/Release/
/windows/runner/Profile/
/windows/runner/flutter_window.dll
/windows/runner/flutter_export.h
/windows/runner/flutter_messenger.h
/windows/runner/flutter_plugin_registrar.h
/windows/runner/flutter_windows.h
/windows/runner/runner_app.h
/windows/runner/utils.h
/windows/runner/win32_window.h
/windows/runner/Generated.xcconfig
/windows/CMakeLists.txt.user.env
